.content {
 position: relative;
 top: -318px;

 @include breakpoint-up(large) {
  top: -399px;
 }
}

.project {
 position: relative;

 &__bio {
  position: absolute;
  top: 248px;
  text-align: center;
  background-color: $white;

  @include breakpoint-up(large) {
   top: 304px;
  }
 }

 &__logo {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 &__title {
  padding-top: 3.5625rem;
  margin-bottom: 1.25rem;
 }

 &__text {
  margin-bottom: 1.875rem;
  font-size: 0.9rem;
 }

 &__icon--wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4375rem;

  @include breakpoint-up(large) {
   justify-content: space-between;
   margin: 1rem 3rem 2.5rem 3rem;
  }
 }

 &__icon--bookmark {
  cursor: pointer;

  @include breakpoint-up(large) {
   display: flex;
  }
 }

 &__icon--bookmark-checked {
  svg path {
   fill: $white;
  }
  svg circle {
   fill: $darkCyan;
  }
 }

 @include breakpoint-up(large) {
  &__bookmark--text {
   color: $darkGray;
   font-weight: 600;
   padding: 0 2rem 0 1rem;
  }
 }
}

.figures {
 position: absolute;
 top: 573px;
 background-color: $white;
 padding: 2rem 2rem;
 text-align: center;

 @include breakpoint-up(medium) {
  top: 528px;
 }

 @include breakpoint-up(large) {
  top: 579px;
  padding: 3rem 2.4rem;
 }

 &__list {
  @include breakpoint-up(large) {
   position: relative;
   display: flex;
   justify-content: space-between;
  }
 }

 &__item {
  list-style: none;
  padding-bottom: 2.5rem;
  position: relative;

  @include breakpoint-up(large) {
   text-align: left;

   &:first-child {
    margin-right: -3rem;
   }

   &:last-child {
    margin-right: 2rem;
   }
  }

  p {
   font-size: 0.9rem;
   padding-top: 0.525rem;
  }
 }

 span {
  display: block;
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 30%;
  background-color: $lightGray;

  @include breakpoint-up(large) {
   top: 2px;
   left: 196px;
   width: 1px;
   height: 58px;
  }
 }

 &__progress {
  position: relative;
  height: 0.725rem;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.315);
  border-radius: 50px;
 }

 &__bar {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 0.725rem;
  width: 80%;
  border-radius: 50px;
  background-color: $lightCyan;
 }
}

/////////////////////////////////////////////////
.about {
 position: absolute;
 top: 981px;
 background-color: $white;

 @include breakpoint-up(medium) {
  top: 936px;
 }

 @include breakpoint-up(large) {
  top: 816px;
  padding: 0 1rem;
 }

 &__title {
  font-size: 1.2rem;
  padding-top: 1.875rem;
  padding-bottom: 1.275rem;
  
  @include breakpoint-up(large) {
   padding-top: 2.875rem;
   padding-bottom: 2.275rem;
  }
 }

 &__text {
  font-size: 0.9rem;
  line-height: 1.6;
 }
}

////////////////////////////////////////////////
.product {
 margin-top: 1.875rem;
 border: 1px solid $lightGray;
 position: relative;

 &:last-child {
  position: relative;

  &::after {
   content: '';
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   background-color: rgba(255, 255, 255, 0.726);
   z-index: 1;
  }
 }

 &__title {
  color: $black;
  font-weight: 600;
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
 }

 &__price {
  font-size: 0.9rem;
  font-weight: 500;
  color: $lightCyan;
  padding-bottom: 1.875rem;
 }

 &__text {
  font-size: 0.9rem;
  padding-bottom: 1.875rem;
  line-height: 1.6;

  @include breakpoint-up(large) {
   padding: 0 0.5rem 1.2rem 0.5rem;
  }
 }

 span {
  color: $darkGray;
  padding-left: 0.5rem;
  font-size: 0.9rem;
 }
}
